# Sample datasets

# 1. Vega

In [3]:
!pip install vega_datasets

Collecting vega_datasets
  Downloading vega_datasets-0.9.0-py3-none-any.whl (210 kB)
Requirement already satisfied: pandas in c:\users\hitesh koli\anaconda3\lib\site-packages (from vega_datasets) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\hitesh koli\anaconda3\lib\site-packages (from pandas->vega_datasets) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hitesh koli\anaconda3\lib\site-packages (from pandas->vega_datasets) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\hitesh koli\anaconda3\lib\site-packages (from pandas->vega_datasets) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\hitesh koli\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->vega_datasets) (1.15.0)
Installing collected packages: vega-datasets
Successfully installed vega-datasets-0.9.0

In [4]:
from vega_datasets import data

In [5]:
data.list_datasets()

['7zip',
 'airports',
 'annual-precip',
 'anscombe',
 'barley',
 'birdstrikes',
 'budget',
 'budgets',
 'burtin',
 'cars',
 'climate',
 'co2-concentration',
 'countries',
 'crimea',
 'disasters',
 'driving',
 'earthquakes',
 'ffox',
 'flare',
 'flare-dependencies',
 'flights-10k',
 'flights-200k',
 'flights-20k',
 'flights-2k',
 'flights-3m',
 'flights-5k',
 'flights-airport',
 'gapminder',
 'gapminder-health-income',
 'gimp',
 'github',
 'graticule',
 'income',
 'iowa-electricity',
 'iris',
 'jobs',
 'la-riots',
 'londonBoroughs',
 'londonCentroids',
 'londonTubeLines',
 'lookup_groups',
 'lookup_people',
 'miserables',
 'monarchs',
 'movies',
 'normal-2d',
 'obesity',
 'ohlc',
 'points',
 'population',
 'population_engineers_hurricanes',
 'seattle-temps',
 'seattle-weather',
 'sf-temps',
 'sp500',
 'stocks',
 'udistrict',
 'unemployment',
 'unemployment-across-industries',
 'uniform-2d',
 'us-10m',
 'us-employment',
 'us-state-capitals',
 'volcano',
 'weather',
 'weball26',
 'wheat',
 'windvectors',
 'world-110m',
 'zipcodes']

In [23]:
df=data('airports')

In [24]:
df

,iata,name,city,state,country,latitude,longitude
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
...,...,...,...,...,...,...,...
3371,ZEF,Elkin Municipal,Elkin,NC,USA,36.280024,-80.786069
3372,ZER,Schuylkill Cty/Joe Zerbey,Pottsville,PA,USA,40.706449,-76.373147
3373,ZPH,Zephyrhills Municipal,Zephyrhills,FL,USA,28.228065,-82.155916
3374,ZUN,Black Rock,Zuni,NM,USA,35.083227,-108.791777
3375,ZZV,Zanesville Municipal,Zanesville,OH,USA,39.944458,-81.892105